@page "/votes/import"
@using Rhymers.Core.Models
@using Rhymers.Web.Services
@inject VoteService VoteService
@inject ContestService ContestService

<div class="container mt-4">
    <h1>Импорт голосов</h1>
    <p>Функция импорта голосов в разработке</p>
</div>

@code {
}
